{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles %}
    {% for article in articles_page.object_list %}

        <article class="hentry">
            <h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
            <time datetime="{{ article.date.isoformat }}">{{ article.locale_date }}</time>
            
            <div class="entry-content">
            {{ article.summary }}
            <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">» read more</a>
            </div><!-- /.entry-content -->
        </article>

        {% if loop.last %}
            {% if loop.last and (articles_page.has_previous() 
            or not articles_page.has_previous() and loop.length > 1) %}
                {% include 'pagination.html' %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
{% endif %}
{% endblock content %}